
    body {
        text-align: center;
        margin-top: 50px;
        font-family: Arial, sans-serif;
        }

        button {
            background-color: bisque;
            color: brown;
            border-radius: 10px;
            padding: 20px 40px;
            font-size: 50px;
            cursor: pointer;
            border: none;
            margin-bottom: 20px;
        }

        button:hover {
            background-color: #ffe0b3;
        }

        .card-text {
           
            display: inline-block;
            background-color: rgb(127, 182, 10);
            color: rgb(98, 66, 157);
            padding: 8px 20px;
            border-radius: 10px;
            font-size: 20px;
            text-decoration: none;
            margin-top: 20px;
           
        
        }

        .card-text:hover {
            background-color: rgb(160, 210, 40);
        }

        p {
            color: rgb(161, 21, 21);
            font-size: 35px;
            font-style: italic;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif   
}

    

#button2 {
            background-color: rgb(230, 63, 63);
            color: rgb(22, 21, 21);
            border-radius: 10px;
            padding: 10px 20px;
            font-size: 30px;
            cursor: pointer;
            border: none;
            margin-bottom: 5px;
        }

        button:hover {
            background-color:rgb(230, 63, 63) #1c96dd;
        }









